<?xml version="1.0" encoding="UTF-8"?>
<!--always place inside src/main/resources-->
<configuration>
    <property name="LOG_FILE" value="logs/app.log"/>

    <appender name="FILE-ROLLING" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_FILE}</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logs/archived/app.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>7</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d %p %c{1.} [%t] %m%n</pattern>
        </encoder>
    </appender>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>
                %d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n
            </Pattern>
        </layout>
    </appender>

    <!--    for File Rolling appender-->
    <!--    for pkg level : will be applicable only for given pkg -->
    <logger name="com.dailycodebuffer" level="debug" additivity="false">
        <appender-ref ref="FILE-ROLLING"/>
    </logger>
    <!--    for overall -->
    <root level="info">
        <appender-ref ref="FILE-ROLLING"/>
    </root>

    <!--    for Console appender-->
    <!--    pkg level -->
    <logger name="com.dailycodebuffer" level="debug" additivity="false">
        <appender-ref ref="CONSOLE"/>
    </logger>
    <!--    overall -->
    <root level="info">
        <appender-ref ref="CONSOLE"/>
    </root>

</configuration>